src/main/mule/schedular2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="3f54a1d8-69f1-4050-81fc-49ae826f0383" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="schedular2Flow" doc:id="0245149a-fe3e-46e8-8236-5fcf36acbbbb" >
		<http:listener doc:name="Listener" doc:id="2a3ad334-3a9b-47e8-96df-83c13e9af81c" config-ref="HTTP_Listener_config" path="/test" outputMimeType="text/plain"/>
		<set-payload value='#["hi naren"]' doc:name="Set Payload" doc:id="9b28fe38-1f36-4cf3-9cf0-6e0d4b72cce3" />
	</flow>
</mule>
